[submodule "presentation"]
	path = presentation
	url = git@bitbucket.org:dk_thyms/eva-presentation.git
[submodule "presentation-functional"]
	path = presentation-functional
	url = git@bitbucket.org:dk_thyms/eva-presentation-functional.git
[submodule "presentation-stubulator"]
	path = presentation-stubulator
	url = git@bitbucket.org:dk_thyms/eva-presentation-stubulator.git
